@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FCFCFC;
  --blue: #15036E;
  --cyan: #21DBDB;
  --pink: #FF2E6C;
  --black: #000;
}

ul {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

button {
  border: none;
}

body {
  background-color: var(--white);
  font-family: 'Londrina Solid', cursive;
  text-transform: uppercase;
}

/* HEADER */
.ul_header {
  color: var(--blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 1em;
  width: 4em;
}

.li_header {
  margin: 2em;
}

.img_robots_nav {
  margin-bottom: 0.3em;
  width: 2em;
}

.liens_nav {
  color: var(--blue);
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fond_header {
  color: var(--white);
  text-align: center;
  background: url(img/background.gif);
  padding: 3.5em 1.5em;
}

h1 {
  margin-bottom: 0.8em;
}

.description_header {
  font-size: 1.3em;
}

.flex_en_savoir_plus {
  margin: 0 0 4em;
  color: var(--white);
  font-weight: 100;
  background-color: var(--pink);
  display: flex;
  align-items: center;
}

/* EN SAVOIR PLUS */
.en_savoir_plus {
  margin-left: 3em;
  font-size: 1.2em;
  width: 100%;
  padding: 0.5em;
}

.ok {
  color: var(--black);
  background-color: var(--cyan);
  padding: 1.5em;
}

/* MAIN */
main {
  margin: 3em 10%;
}

.flex_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border_dashed {
  color: var(--blue);
  text-align: center;
  border: 2px dashed var(--cyan);
  border-bottom: none;
  padding: 2em;
}

.titre_robots {
  margin: 2em 0;
  color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_robots_pink {
  margin-bottom: 0.3em;
  width: 3em;
}

.titre {
  font-size: 1em;
}

time {
  margin-top: 1em;
  color: var(--cyan);
  font-size: 2em;
  text-align: center;
}

.description {
  margin: 3em 0;
  color: var(--blue);
}

.description_center {
  text-align: center;
}

/* FOOTER */
footer {
  color: var(--white);
  background-color: var(--blue);
  padding: 2em;
  text-align: center;
}

.ul_footer {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li_footer {
  margin: 2em 5%;
}

.eden_school {
  width: 5em;
}

h5 {
  margin: 1em 0;
}

.txt_eden_school {
  font-size: 0.5em;
}

/* AUTRES INDEX */
.images {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .ul_header {
    flex-direction: row;
    gap: 0 4vw;
  }

  .logo {
    margin: 0 0 0 2em;
  }

  .flex_section {
    flex-direction: row;
  }

  article {
    margin: auto;
  }
}