@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FCFCFC;
  --blue: #15036E;
  --cyan: #21DBDB;
  --pink: #FF2E6C;
  --black: #000;
}

ul {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

body {
  background-color: var(--white);
  font-family: 'Londrina Solid', cursive;
  text-transform: uppercase;
}

/* HEADER */
ul {
  color: var(--blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 1em;
  width: 4em;
}

li {
  margin: 2em;
}

.img_robots {
  margin-bottom: 0.3em;
  width: 2em;
}

.liens_nav {
  color: var(--blue);
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fond_header {
  color: var(--white);
  text-align: center;
  background: url(img/background.gif);
  padding: 3.5em 1.5em;
}

h1 {
  margin-bottom: 0.8em;
}

.description_header {
  font-size: 1.3em;
}

.flex_en_savoir_plus {
  margin: 0 0 4em;
  color: var(--white);
  background-color: var(--pink);
  display: flex;
  align-items: center;
}

.en_savoir_plus {
  margin-left: 3em;
  font-size: 1.2em;
  width: 100%;
  padding: 0.5em;
}

.ok {
  color: var(--black);
  background-color: var(--cyan);
  padding: 1.5em;
}

main {
  margin: 3em 10%;
}

.section_robots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border_dashed {
  color: var(--blue);
  text-align: center;
  border: 2px dashed var(--cyan);
  border-bottom: none;
  padding: 2em;
}

.titre_robots {
  color: var(--pink);
}

data {
  color: var(--cyan);
}

@media screen and (min-width: 1024px) {
  ul {
    flex-direction: row;
    gap: 0 4vw;
  }

  .logo {
    margin: 0 0 0 2em;
  }
}